<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501423829218-l29hkqsplnjin110g03rsgemnts117fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501423829218-l29hkqsplnjin110g03rsgemnts117fq</string>
	<key>API_KEY</key>
	<string>AIzaSyCwzhscAG_VIcZC-4TI8X5MAxGrYTg1PnI</string>
	<key>GCM_SENDER_ID</key>
	<string>501423829218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amexHealthApp</string>
	<key>PROJECT_ID</key>
	<string>amex-health</string>
	<key>STORAGE_BUCKET</key>
	<string>amex-health.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501423829218:ios:5f100fff20ae7ccc9aaebb</string>
</dict>
</plist>